/* header section  */
.header{
    display: grid;
    grid-template-columns: 20% 25% 50%;
    align-items: center;
    justify-items: center;
    background-color: #0f0001;
}
.logo img{
    width: 70%;
}
.icons img{
    width: 20%;
}
.logo{
    background-color: rgb(0, 0, 10);
}
.icons{
    background-color: rgb(7, 1, 14);
}
.mavbar{ 
    background-color: rgb(1, 6, 10);
}
li{
    display:inline-table;
}
.mavbar li{
    margin-LEFt: 40px;
}
a{
    text-decoration: darkgoldenrod;
    color: darkorange;
    font-size: 20px;
    font-weight: 400;
}
/* header done */

/* marquee section */
.marq{
    color: #100238;
    margin: 50px;
}
/* marquee done */

/* banner section */
.banner{
    background-image: url(/image/banner_wODW8xZ.jpeg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(128, 12, 47);
    display: grid;
    align-items: center;
    justify-items: center;
}
.img{
    color: rgb(65, 18, 1);
}
/* banner done */

/* content section */
.tobi{ 
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 30px;
    justify-content: center;
    grid-row-gap: 3px;
}
.mike {
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/apple.jpg)
}

.john {
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/strawberry.jpg);
}
.peter{
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/lemon.jpg);
}
.james{
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/grapes.jpg);
}
.paul{
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/orange.jpg);
}
.pat{
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/twitter.png);
}
.peace{
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    background-image: url(/image/banner_wODW8xZ.jpeg);
}
.patrick{
    border: 5px solid fuchsia;
    text-align: center;
    margin: 50% 20%;
    padding: 150px 120px;
    background-clip: inherit;
    
}
/*-- content section close--*/

/* footer section */
  .footer{
      display: grid;
      grid-template-columns: 20% 40% 20% 20%;
      align-items: center;
      justify-items: center;
      background-color: rgb(8, 1, 17);
  }
  .footer h1{
      color: darkgray;
  }
  .footer h3{
      color: darkorange;
      font-size: 15px;
      font-weight: bold;
  }
  .footer a{
      color: rgb(255, 255, 255);
  }
  .footer p{
      color: cornsilk;
  }
  .footer li{
      display: block;
      margin-bottom: 5px;
  }
  .footer img{
      width: 50%;
  }
  .total{
      margin: 10px;
  }
/* footer done*/